.map-wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 77px); /* calculate height of the screen minus the heading */
    padding: 2rem;
    /* margin-left: 2rem; */
}
  
.map {
    position: relative; /* Change to relative position */
    width: 100%;
    height: 100%; /* Set height to 100% to fill the container */
    aspect-ratio: 1/1;
    border: 2px solid rgb(166, 166, 166);
    border-radius: 1rem;
    box-shadow: 0.5rem 0.25rem 0.25rem 0.5rem rgb(153, 153, 153);
  }
  